.category {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.category-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;  
    color: $color-blue;  
}

.category-data {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: $color-gray;
}
.category-title:hover {
    color: $color-gray;
}


  
  @media screen and (min-width: 360px) and (max-width: 743px) {
    .category-title, .category-data {
        font-size: 14px;
    }
  }
  