@import "./globals.scss";

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  max-width: 1200px;
  min-height: 374px;
  margin: 0px auto;
  gap: 100px;
  padding-top: 100px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 64px;
}

.footer__logo-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__text,
.footer__rights {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $color-gray;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 800px;
  width: 100%;
  gap: 40px;
}

.footer__menu-name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

.footer__menu-item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: $color-gray;
}

.footer__menu-add {
  position: absolute;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 28px;
  width: 72px;
  height: 30px;
  background-color: $color-green;
  border-radius: 18px;
  text-align: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 32px;
}

.footer__menu-company,
.footer__menu-resources,
.footer__menu-landings {
  max-width: 150px;
}

#careers {
  padding-right: 20px;
}

.footer__menu-item:hover {
  color: $color-green;
}

.footer__logo-img {
  background-image: url(/assets/images/logo.svg);
  background-repeat: no-repeat;
  width: 156px;
  height: 41px;
}

@media screen and (min-width: 744px) and (max-width: 1199px) {
  .footer__container {
    flex-direction: column-reverse;
    max-width: 580px;
    min-height: 429px;
    gap: 100px;
    padding-bottom: 100px;
  }

  .footer__content {
    max-width: 580px;
    align-items: center;
  }

  .footer__logo-text {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .footer__text,
  .footer__rights {
    font-size: 14px;
  }

  .footer__menu {
    justify-content: space-evenly;
    max-width: 580px;
    gap: 70px;
  }

  .footer__menu-name {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
  }

  .footer__menu-item {
    font-size: 18px;
  }

  .footer__menu-list {
    gap: 22px;
    padding-top: 22px;
  }

  .footer__menu-company,
  .footer__menu-resources,
  .footer__menu-landings {
    max-width: 146px;
  }

  #careers {
    padding-right: 16px;
  }
}

@media screen and (min-width: 360px) and (max-width: 743px) {
  .footer__container {
    flex-direction: column-reverse;
    width: 100%;
    min-height: 260px;
    gap: 40px;
    padding-top: 5px;
  }

  .footer__text {
    display: none;
  }

  .footer__rights {
    font-size: 12px;
  }

  .footer__logo-img {
    background-image: url(/assets/images/logo_mobile_footer.svg);
    background-repeat: no-repeat;
    width: 76px;
    height: 20px;
  }

  .footer__content {
    align-self: center;
    align-items: center;
    padding-top: 1px;
    gap: 12px;
    height: 80px;
  }

  .footer__logo-text {
    align-items: center;
  }

  .footer__menu {
    visibility: hidden;
  }
}
