@import "./globals.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color:  $color-white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=90);
  -moz-opacity: 0.20;
  -khtml-opacity: 0.2;
  opacity: 0.95; 
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 42px;
  max-width: 1200px;
  width: 100%;
  background-color: $color-white;
  background:cover;
  margin: 56px auto 25px;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  color: $color-blue;
}
a {
  text-decoration: none;
}
.header__menu-link {
  color: $color-blue;
}

.header__menu-link:hover {
  color: $color-green;
}

.header__logo-img {
  background-image: url(assets/images/logo.svg);
  background-repeat: no-repeat;
  width: 156px;
  height: 41px;
}
.header__menu-button {
  font-size: 16px;
  line-height: 28px;
  width: 128px;
  height: 40px;
  color: $color-blue;
  background-color: $color-white;
  border: 2px solid $color-blue;
}

.header__menu-button:hover {
  color: $color-white;
  background-color: $color-blue;
  border: 2px solid $color-white;
}

.header__menu-button:active {
  background-color: $color-lightblue;
}

/* ----------------------- */

body._touch .header__menu-list > li {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
body._touch .header__menu-link {
  flex: 1 1 auto;
}

/* ----------------------- */

@media screen and (min-width: 744px) and (max-width: 1199px) {
  .header__container {
    max-width: 680px;
    margin: 56px auto 45px;
  }
  .header__logo-img {
    background-image: url(/assets/images/logo_2.svg);
    width: 143px;
    height: 37px;
  }
  .header__menu-list {
    gap: 29px;
    font-size: 14px;
  }

  .header__menu-button {
    font-size: 14px;
  }
}

@media screen and (min-width: 360px) and (max-width: 743px) {
    
  .header__container {
    max-width: 260px;
    width: 100%;
  }
  
  .header__menu-list{
    flex-direction: column;
  }
  
  .header__logo-img {
    background-image: url(/assets/images/logo_mobile.svg);
    width: 143px;
    height: 37px;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $color-blue;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -120%;
    width: 90%;
    height: 100%;
    background-color: $color-white;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }


}
