.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.username {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: $color-black;
}

.username:hover {
    color: $color-gray;
}

@media screen and (min-width: 360px) and (max-width: 743px) {
    .username {
        font-size: 14px;
        }
}
